body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  padding:50px;
  background-image: url("../../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  margin-top: 10px;
  /*width: 300px;*/
}

div#crypto-container {
  background: white;
  width: 60%;
  margin: 0 auto 10px auto;
  padding: 50px;
  box-shadow: 10px 5px 1px lightgrey;
  font-size: 30px;
}

.Home {
  font-size: 14px;
  color: navy;
  margin: 10px;
  background: darkgrey;
}



.banner img {
  width: 100%;
  /*margin: 0 25px 0 80px;*/
}


span.left {
  font-weight: bold;
  float: left;
}

span.right {
  float:right;
}

h1 {
  color: #003366;
}

h2 {
  font-size: 36px;
  color: #0b1a4d;
}

/*blog images*/
img {
  height: 200px;
  width: 250px;
}

/*logo in navbar*/
/*.logo img {
  height: 65px;
  width: 300px;
}*/

.faq-question {
  font-size: 36px;
  color: #003366;
}

.faq-answer {
  font-size: 20px;
  color: #0b1a4d;
}

.resource {
  text-align: left;
  margin-left: 30px;
}

footer p{
text-align: center;
 line-height: 16px;
font-size: 24px;  
  font-weight: 200;
  letter-spacing: .3px;
  color: white;
  text-shadow: 5px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: Helvetica, Arial, Sans-Serif; 
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.regulations {
  color: pink;
  text-align: left;
  margin-left: 25px;
  margin-right: 30px;
  
}








